@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


#content    {
    background-color: #f5f5dc;
}

.card-img {
    border: 10px solid #d9c2a3;
    border-radius: 5px;
}

main section img {
    box-sizing: border-box;
}

#hero   {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 250px 250px;
    margin-top: 10%;
    justify-items: center;
    margin-bottom: 10%;
}

#hero-box   {
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero-img   {
    min-width: 100%;
    max-width: 100%;
    z-index: 1;

}

#logo_link  {
    padding-top: 5px;
}

#hero-box   {
    z-index: 1;
}

#hero-msg   {
    box-sizing: border-box;
    margin-top: 2%;
    width: 90%;
    height: 90%;
    align-content: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 10;
    padding-top: 10%;
    padding-bottom: 5%;
    background-color: #f5f5dc 60%;
    border-radius: 25px;
}

header  {
    position: fixed;
    top: 0;
    text-align: center;
    background-color: #f5f5dc;
    height: 126px;
    min-height: 126px;
    border-bottom: black 2px solid;
    z-index: 100;
}

nav {
    display: grid;
    width: 100%;
    grid-template-columns: 5;
    padding-bottom: 2%;

}

body    {
    text-align: center;
    background-color: #f5f5dc;
    font-family: 'Lexend Giga', 'Roboto Condensed';
}

nav a   {
    text-align: center;
    text-decoration: none;
    color: #404E4D;
}

nav a:hover    {
    background-color: #78C0E0;
    color: black;
}

#hero-msg h1, #hero-msg h4  {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section    {
    text-align: center;
}

#background {
    height: 725px;
}

.book, .join   {
    background-color: #f5f5dc;
    text-decoration: none;
    color: #404E4D;
    padding: 15px 30px;
    border-radius: 5px;
}

.book:hover, .join:hover    {
    background-color: #78C0E0;
    color: black;
}

.msg    {
    background-color: #f5f5dc;
    padding: 35px;
}

.msg p  {
    padding-bottom: 15px;
}

.msg h2 {
    color: #404E4D;
}

.msg h2 {
    color: #404E4D;
}

footer {
    background-color: #d9c2a3;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a   {
    background-color: #f5f5dc;
    color: #404E4D;
    text-decoration: none;
}

footer p    {
    font-size: 1.2em;
}

footer .social img  {
    padding-top: 15px;
}

footer p:hover  {
    text-decoration: underline;
}

footer a:hover  {
    background-color: #78C0E0;
    color: black;

}

.home-title {
    color: #404E4D;
}

.home-grid  {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(8, 1fr);
}

.rivers-card    {
    grid-column: 1/3;
    grid-row: 2/3;
}

.camping-card   {
    grid-column: 4/6;
    grid-row: 2/3;
}

.rapids-card    {
    grid-column: 7/9;
    grid-row: 2/3;
}

#background {
    grid-column: 1/9;
    grid-row: 4/9;
    background-color: #f0f0b0;
}

.mountains  {
    grid-column: 2/6;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}

.mountains img  {
    width: 100%;
}

.msg    {
    grid-column: 5/8;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

h4  {
    color: #404E4D;
}

.icon   {
    width: 80px;
    padding-top: 10px;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}



.social a img   {
    height:50px;
    text-decoration: none;
}

@media screen and (min-width:901px) {
    body{
        max-width: 1600px;
        min-width: 1000px;
        margin-left: 15%;
        margin-right: 15%;
    }
    header{
        width: 70%;
        min-width: 1000px;
    }
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    #hero{
        padding-top: 160px;
    }
    header{
        width: 100%;
        padding-bottom: 40px;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}